.container{
    height: 500px;
    width: 500px;
    background-color: gray;
    display: flex;
    align-items: center;
    padding-top: 10%;
    flex: 1;
    flex-flow: row wrap;
    align-items: flex-start;


    .cart-item {
        .text{
            color: white;
        }
    }
}
